@{
    ViewData["Title"] = "Message";
}

@model IEnumerable<mapbox.Models.Message>
@using mapbox.Models

<script type="text/javascript">
        $(document).ready(function () {

            $('.new-message').submit(function (event) {
                event.preventDefault(),
                    //console.log($(this).serialize()),
                $.ajax({
                    type: 'POST',
                    data: $(this).serialize(),
                    dataType: 'html',
                    url: '@Url.Action("newMessage")',
                    success: function (result) {
                        console.log(result);
                        $('#addMessage').html(result);
                    }
                });
            });
        });
</script>


<br />

<h3><a asp-area="" asp-controller="Message" asp-action="Create" class="btn">Add a message...</a></h3>

@*<form asp-action="NewMessage" class="new-message">
    <div class="form-group">
        <label asp-for="Locaton">Street Address:</label>
        <input type="text" asp-for="Locaton" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="When">Date:</label>
        <input type="text" asp-for="When" class="form-control" />
    </div>
    <div class="form-group">
    <label asp-for="Comment">Comments:</label>
    <input type="text" asp-for="Comment" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Send</button>
</form>

<div id="addMessage"></div>
<br />*@

@foreach (var message in Model)
{


<div class="card panel-success">
    <img class="card-img-top" src="~/images/kind-hearted-woman.jpg" alt="Card image cap">
    <div class="card-block">
        <h4 class="card-title">Where: @message.Locaton</h4>
        <p class="card-text">When: @message.When</p>
        <p class="card-text">@message.Comment</p>
        @Html.ActionLink("Delete", "Delete", new { id = message.Id })
    </div>
</div>
}